@charset "utf-8"


.inner {width: 1050px; margin: 0 auto;}




/*section. problems*/

section.problems {width: 100%; padding: 80px; text-align: center;}
section.problems .inner .title {margin-bottom: 30px; color: #333;}
section.problems .inner .title h2 {font-size:30px; text-transform: uppercase; margin-bottom: 10px;}
section.problems .inner .title p {font-size: 20px;}
section.problems .inner ul {width:100%;background: yellow; overflow: hidden;}
section.problems .inner ul li{float: left; width: 25%; text-align: center;}
section.problems .inner ul li .icon{}